Source: libmali
Priority: optional
Maintainer: Putin Lee <putin.li@rock-chips.com>
Uploaders: Jeffy Chen <jeffy.chen@rock-chips.com>
Build-Depends: debhelper (>= 11),
               meson,
               pkg-config,
               libstdc++6,
               libgbm-dev,
               libdrm-dev,
               libx11-xcb1,
               libxcb-dri2-0,
               libxdamage1,
               libxext6,
               libwayland-client0
Standards-Version: 4.1.3
Section: libs
Homepage: https://github.com/rockchip-linux/libmali
Vcs-Git: https://github.com/rockchip-linux/libmali
Vcs-Browser: https://github.com/rockchip-linux/libmali

Package: libmali-bifrost-g31-g2p0-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g31-g2p0-only-cl
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g31-g2p0-wayland
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g31-g2p0-without-cl-wayland
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g31-g2p0-x11
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-dummy
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-dummy-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-wayland
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-without-cl-dummy-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-bifrost-g52-g2p0-x11
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r0p0-gbm
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r0p0-wayland
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r0p0-x11
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r1p0-gbm
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r1p0-wayland
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t76x-r18p0-r1p0-x11
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t86x-r18p0-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t86x-r18p0-wayland
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-midgard-t86x-r18p0-x11
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-400-r7p0-r1p1-gbm
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-400-r7p0-r1p1-wayland
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-400-r7p0-r1p1-x11
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-400-r7p0-r3p0-wayland
Architecture: armhf
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-450-r7p0-gbm
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-450-r7p0-wayland
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-utgard-450-r7p0-x11
Architecture: armhf arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g6p0-dummy
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g6p0-dummy-gbm
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g6p0-gbm
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g6p0-wayland
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers

Package: libmali-valhall-g610-g6p0-x11
Architecture: arm64
Provides: libmali
Conflicts: libmali
Replaces: libmali
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Mali GPU User-Space Binary Drivers
