Source: libmali-rk3288
Priority: optional
Maintainer: Randy Li <randy.li@rock-chips.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.rock-chips.com/

Package: libmali-rk3288-dev
Section: libdevel
Architecture: any
Depends: libmali-rk32881 (= ${binary:Version}), ${misc:Depends}
Multi-Arch: same
Provides: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Conflicts: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Replaces: libgbm-dev, libegl1-mesa-dev, libgles2-mesa-dev
Description: The mali library for Rockchip RK3288.
 .
 This package provides the development environment for compiling programs
 against the GBM library.

Package: libmali-rk32881
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Provides: libegl1, libegl1-x11, libgles2-mesa, libgbm1
Conflicts: libegl1-mesa, libegl1-x11, libgles2-mesa, libgbm1
Replaces: libegl1-mesa, libegl1-x11, libgles2-mesa, libgbm1
Description: The mali library for Rockchip RK3288.
