#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

TARGETS = $(shell cat debian/targets | grep $(DEB_HOST_GNU_TYPE))

override_dh_clean:
	dh_clean
	rm -rf libmali-*

override_dh_auto_configure:
	for target in $(TARGETS); do \
		export $$(./parse_name.sh $$target); \
		dh_auto_configure --builddirectory=$$name -- \
			-Darch=$${target%%-*} -Dgpu=$$gpu \
			-Dversion=$$version -Dsubversion=$$subversion \
			-Dplatform=$$platform; \
	done

override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	for target in $(TARGETS); do \
		export $$(./parse_name.sh $$target); \
		dh_auto_install --builddirectory=$$name \
			--destdir=debian/tmp/$$name; \
		ln -sf mali/libmali.so.1 debian/tmp/$$name/usr/lib/; \
	done

%:
	dh $@ --buildsystem=meson
